In [1]:
import numpy as np
import pandas as pd
import os
import glob
import uuid
import base64
from tqdm.auto import tqdm

In [2]:
def genIDs(num):
    id_lst = []
    for i in tqdm(range(num)):
        id_lst.append(i)
    return id_lst

In [3]:
#id_db = []
#def genIDs(num):
#    id_lst = []
#    for i in tqdm(range(num)):
#        genid = base64.b64encode(os.urandom(6)).decode('ascii')
#        id_lst.append(genid)
#        id_db.append(genid)
#        assert(len(id_db) == len(set(id_db)))
#    return id_lst

In [4]:
data_root_dpath = os.path.join("..", "data", "OPP-115")

processed_data_dpath = os.path.join(data_root_dpath, "processed_data")

op_annotations_dpath = os.path.join(processed_data_dpath, "processed_annotations")

master_annotations_115_fpath = os.path.join(processed_data_dpath, "master_annotations_115.csv")

catsplit_annotations_115_parsed_dpath = os.path.join(processed_data_dpath, "catsplit_annotations_115_parsed")

site_metadata_fpath = os.path.join(processed_data_dpath, "site_metadata_115.csv")

# Table 1 and 2: Site metadata and site-sector map

In [5]:
site_metadata_df = pd.read_csv(site_metadata_fpath)
site_metadata_df

,site_name,policy_ID,alexa_rank_global,alexa_rank_us,sectors
0,The Atlantic,20,975,289,"['Computers', 'Science', 'Games', 'Society', '..."
1,IMDb,21,49,27,"['Kids and Teens', 'Regional', 'Arts', 'Sports']"
2,New York Times,26,101,22,"['Computers', 'Science', 'Health', 'Society', ..."
3,The Verge,32,525,230,['Home']
4,NBC Universal,33,1548,426,"['Recreation', 'Kids and Teens', 'World', 'Art..."
...,...,...,...,...,...
110,Los Angeles Daily News,1683,34975,7684,"['Regional', 'News', 'Sports']"
111,Lids,1694,10716,3161,"['Health', 'Business', 'Regional', 'Shopping']"
112,Sports-Reference.com,1703,8337,2630,['Sports']
113,Yardbarker,1708,12306,2933,['Sports']
114,Latin Post,1713,22649,11103,['Sports']

In [6]:
lst = []
for i,r in site_metadata_df.iterrows():
    for j in eval(r['sectors']):
        lst.append(j)

In [7]:
unique_sec = list(set(lst))
unique_sec

['Health',
 'Society',
 'Recreation',
 'Games',
 'Regional',
 'Computers',
 'Arts',
 'News',
 'Business',
 'Shopping',
 'Kids and Teens',
 'Sports',
 'Science',
 'Reference',
 'Home',
 'World']

In [8]:
site_metadata_df_orig = site_metadata_df.copy()

In [9]:
for sec in unique_sec:
    site_metadata_df[sec] = 0
    
site_metadata_df

,site_name,policy_ID,alexa_rank_global,alexa_rank_us,sectors,Health,Society,Recreation,Games,Regional,...,Arts,News,Business,Shopping,Kids and Teens,Sports,Science,Reference,Home,World
0,The Atlantic,20,975,289,"['Computers', 'Science', 'Games', 'Society', '...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,IMDb,21,49,27,"['Kids and Teens', 'Regional', 'Arts', 'Sports']",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,New York Times,26,101,22,"['Computers', 'Science', 'Health', 'Society', ...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,The Verge,32,525,230,['Home'],0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NBC Universal,33,1548,426,"['Recreation', 'Kids and Teens', 'World', 'Art...",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Los Angeles Daily News,1683,34975,7684,"['Regional', 'News', 'Sports']",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
111,Lids,1694,10716,3161,"['Health', 'Business', 'Regional', 'Shopping']",0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112,Sports-Reference.com,1703,8337,2630,['Sports'],0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
113,Yardbarker,1708,12306,2933,['Sports'],0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114,Latin Post,1713,22649,11103,['Sports'],0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
for i,r in site_metadata_df.iterrows():
    for sec in eval(r['sectors']):
        site_metadata_df.loc[i, sec] = 1

In [11]:
site_metadata_df.drop(['sectors'], axis = 1, inplace = True)
site_metadata_df

,site_name,policy_ID,alexa_rank_global,alexa_rank_us,Health,Society,Recreation,Games,Regional,Computers,Arts,News,Business,Shopping,Kids and Teens,Sports,Science,Reference,Home,World
0,The Atlantic,20,975,289,1,1,1,1,1,1,1,1,0,0,0,0,1,1,0,0
1,IMDb,21,49,27,0,0,0,0,1,0,1,0,0,0,1,1,0,0,0,0
2,New York Times,26,101,22,1,1,0,0,1,1,1,1,0,0,0,1,1,1,1,0
3,The Verge,32,525,230,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,NBC Universal,33,1548,426,0,0,1,0,1,0,1,0,1,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110,Los Angeles Daily News,1683,34975,7684,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0
111,Lids,1694,10716,3161,1,0,0,0,1,0,0,0,1,1,0,0,0,0,0,0
112,Sports-Reference.com,1703,8337,2630,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
113,Yardbarker,1708,12306,2933,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
114,Latin Post,1713,22649,11103,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [12]:
site_sector_map_df = pd.melt(site_metadata_df, id_vars=['policy_ID'], value_vars= site_metadata_df.columns[4:],
        var_name='sector', value_name='sector_val')
site_sector_map_df = site_sector_map_df[site_sector_map_df.sector_val == 1]
site_sector_map_df = site_sector_map_df.drop(["sector_val"], axis = 1).reset_index(drop = True)
site_sector_map_df

     policy_ID  sector
0           20  Health
1           26  Health
2           93  Health
3          144  Health
4          186  Health
..         ...     ...
421       1361   World
422       1470   World
423       1498   World
424       1539   World
425       1582   World

[426 rows x 2 columns]

In [13]:
ids = genIDs(site_sector_map_df.shape[0])
site_sector_map_df['site_sector_map_ID'] = ids
site_sector_map_df = site_sector_map_df[["site_sector_map_ID", "policy_ID", "sector"]]
site_sector_map_df

HBox(children=(FloatProgress(value=0.0, max=426.0), HTML(value='')))

     site_sector_map_ID  policy_ID  sector
0                     0         20  Health
1                     1         26  Health
2                     2         93  Health
3                     3        144  Health
4                     4        186  Health
..                  ...        ...     ...
421                 421       1361   World
422                 422       1470   World
423                 423       1498   World
424                 424       1539   World
425                 425       1582   World

[426 rows x 3 columns]

In [14]:
site_metadata_df_orig.drop(["sectors"], inplace = True, axis = 1)
site_metadata_df_orig

                  site_name  policy_ID  alexa_rank_global  alexa_rank_us
0              The Atlantic         20                975            289
1                      IMDb         21                 49             27
2            New York Times         26                101             22
3                 The Verge         32                525            230
4             NBC Universal         33               1548            426
..                      ...        ...                ...            ...
110  Los Angeles Daily News       1683              34975           7684
111                    Lids       1694              10716           3161
112    Sports-Reference.com       1703               8337           2630
113              Yardbarker       1708              12306           2933
114              Latin Post       1713              22649          11103

[115 rows x 4 columns]

# Table 3: Category metadata

In [15]:
master_df = pd.read_csv(master_annotations_115_fpath)
master_df

,annotation_ID,annotator_ID,segment_ID,category,attr_val,policy_ID,segment_text
0,13160,121,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr..."
1,12377,116,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr..."
2,12378,116,0,Policy Change,"{""Change Type"": {""endIndexInSegment"": 36, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr..."
3,11991,118,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr..."
4,13161,121,1,First Party Collection/Use,"{""Collection Mode"": {""endIndexInSegment"": -1, ...",746,Information We Collect Personally-Identif...
...,...,...,...,...,...,...,...
22454,2953,82,27,International and Specific Audiences,"{""Audience Type"": {""endIndexInSegment"": 740, ""...",1545,Does this Policy apply in other countries? ...
22455,3119,88,27,International and Specific Audiences,"{""Audience Type"": {""endIndexInSegment"": 740, ""...",1545,Does this Policy apply in other countries? ...
22456,2393,84,28,Privacy contact information,"{""Other Type"": {""endIndexInSegment"": 303, ""sta...",1545,How can you contact us with questions about t...
22457,2952,82,28,Privacy contact information,"{""Other Type"": {""endIndexInSegment"": 303, ""sta...",1545,How can you contact us with questions about t...
22458,3120,88,28,Privacy contact information,"{""Other Type"": {""endIndexInSegment"": 303, ""sta...",1545,How can you contact us with questions about t...

In [16]:
lst_cat = list(set(master_df.category))
lst_cat

['Data Retention',
 'User Access, Edit and Deletion',
 'Policy Change',
 'User Choice/Control',
 'Introductory/Generic',
 'Third Party Sharing/Collection',
 'International and Specific Audiences',
 'Do Not Track',
 'Practice not covered',
 'Privacy contact information',
 'Data Security',
 'First Party Collection/Use']

In [17]:
ids = genIDs(len(lst_cat))

HBox(children=(FloatProgress(value=0.0, max=12.0), HTML(value='')))

In [18]:
ids

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [19]:
cat_metadata_df = pd.DataFrame(list(zip(ids, lst_cat)), columns = ["category_ID", "category"])
cat_metadata_df

    category_ID                              category
0             0                        Data Retention
1             1        User Access, Edit and Deletion
2             2                         Policy Change
3             3                   User Choice/Control
4             4                  Introductory/Generic
5             5        Third Party Sharing/Collection
6             6  International and Specific Audiences
7             7                          Do Not Track
8             8                  Practice not covered
9             9           Privacy contact information
10           10                         Data Security
11           11            First Party Collection/Use

# Table 4: Annotation data

In [20]:
master_df = pd.read_csv(master_annotations_115_fpath)
master_df

,annotation_ID,annotator_ID,segment_ID,category,attr_val,policy_ID,segment_text
0,13160,121,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr..."
1,12377,116,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr..."
2,12378,116,0,Policy Change,"{""Change Type"": {""endIndexInSegment"": 36, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr..."
3,11991,118,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr..."
4,13161,121,1,First Party Collection/Use,"{""Collection Mode"": {""endIndexInSegment"": -1, ...",746,Information We Collect Personally-Identif...
...,...,...,...,...,...,...,...
22454,2953,82,27,International and Specific Audiences,"{""Audience Type"": {""endIndexInSegment"": 740, ""...",1545,Does this Policy apply in other countries? ...
22455,3119,88,27,International and Specific Audiences,"{""Audience Type"": {""endIndexInSegment"": 740, ""...",1545,Does this Policy apply in other countries? ...
22456,2393,84,28,Privacy contact information,"{""Other Type"": {""endIndexInSegment"": 303, ""sta...",1545,How can you contact us with questions about t...
22457,2952,82,28,Privacy contact information,"{""Other Type"": {""endIndexInSegment"": 303, ""sta...",1545,How can you contact us with questions about t...
22458,3120,88,28,Privacy contact information,"{""Other Type"": {""endIndexInSegment"": 303, ""sta...",1545,How can you contact us with questions about t...

In [21]:
master_df = master_df.merge(cat_metadata_df, how = "inner", on = "category")
master_df

,annotation_ID,annotator_ID,segment_ID,category,attr_val,policy_ID,segment_text,category_ID
0,13160,121,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr...",4
1,12377,116,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr...",4
2,11991,118,0,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 575, ""sta...",746,"Effective Date: May 7, 2015 Kraft Site Pr...",4
3,13285,121,31,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 65, ""star...",746,We would be happy to answer your questions or ...,4
4,12559,116,31,Introductory/Generic,"{""Other Type"": {""endIndexInSegment"": 65, ""star...",746,We would be happy to answer your questions or ...,4
...,...,...,...,...,...,...,...,...
22454,3249,88,23,"User Access, Edit and Deletion","{""Access Type"": {""endIndexInSegment"": 521, ""st...",1545,What choices do you have about the collection...,1
22455,3314,82,23,"User Access, Edit and Deletion","{""Access Type"": {""endIndexInSegment"": 118, ""st...",1545,What choices do you have about the collection...,1
22456,3315,82,23,"User Access, Edit and Deletion","{""Access Type"": {""endIndexInSegment"": 126, ""st...",1545,What choices do you have about the collection...,1
22457,3316,82,23,"User Access, Edit and Deletion","{""Access Type"": {""endIndexInSegment"": 136, ""st...",1545,What choices do you have about the collection...,1
22458,3246,88,24,"User Access, Edit and Deletion","{""Access Type"": {""endIndexInSegment"": 451, ""st...",1545,If you no longer wish to receive our announcem...,1

In [22]:
master_df.drop(["category", "attr_val"], axis = 1, inplace = True)
master_df

,annotation_ID,annotator_ID,segment_ID,policy_ID,segment_text,category_ID
0,13160,121,0,746,"Effective Date: May 7, 2015 Kraft Site Pr...",4
1,12377,116,0,746,"Effective Date: May 7, 2015 Kraft Site Pr...",4
2,11991,118,0,746,"Effective Date: May 7, 2015 Kraft Site Pr...",4
3,13285,121,31,746,We would be happy to answer your questions or ...,4
4,12559,116,31,746,We would be happy to answer your questions or ...,4
...,...,...,...,...,...,...
22454,3249,88,23,1545,What choices do you have about the collection...,1
22455,3314,82,23,1545,What choices do you have about the collection...,1
22456,3315,82,23,1545,What choices do you have about the collection...,1
22457,3316,82,23,1545,What choices do you have about the collection...,1
22458,3246,88,24,1545,If you no longer wish to receive our announcem...,1

# Table 5 and 6: Attribute metadata and attribute category map

In [23]:
cat_attr_lst = []
for fname in glob.glob(r"{}/*.csv".format(catsplit_annotations_115_parsed_dpath)):   
    if not (os.path.basename(fname) in ["Introductory-Generic.csv", "Practice_not_covered.csv", "Privacy_contact_information.csv"]):
        df = pd.read_csv(fname)
        cat_attr_lst.append({col:next(iter(set(df.category))) for col in list(df.columns[6:])})

In [24]:
cat_attr_lst

[{'Collection Mode': 'First Party Collection/Use',
  'Choice Scope': 'First Party Collection/Use',
  'Action First-Party': 'First Party Collection/Use',
  'Personal Information Type': 'First Party Collection/Use',
  'Choice Type': 'First Party Collection/Use',
  'Identifiability': 'First Party Collection/Use',
  'Does/Does Not': 'First Party Collection/Use',
  'User Type': 'First Party Collection/Use',
  'Purpose': 'First Party Collection/Use'},
 {'Change Type': 'Policy Change',
  'User Choice': 'Policy Change',
  'Notification Type': 'Policy Change'},
 {'Security Measure': 'Data Security'},
 {'Do Not Track policy': 'Do Not Track'},
 {'Third Party Entity': 'Third Party Sharing/Collection',
  'Choice Scope': 'Third Party Sharing/Collection',
  'Purpose': 'Third Party Sharing/Collection',
  'Personal Information Type': 'Third Party Sharing/Collection',
  'Choice Type': 'Third Party Sharing/Collection',
  'Identifiability': 'Third Party Sharing/Collection',
  'Does/Does Not': 'Third Party Sharing/Collection',
  'User Type': 'Third Party Sharing/Collection',
  'Action Third Party': 'Third Party Sharing/Collection'},
 {'Choice Type': 'User Choice/Control',
  'Choice Scope': 'User Choice/Control',
  'User Type': 'User Choice/Control',
  'Purpose': 'User Choice/Control',
  'Personal Information Type': 'User Choice/Control'},
 {'Audience Type': 'International and Specific Audiences'},
 {'Access Type': 'User Access, Edit and Deletion',
  'User Type': 'User Access, Edit and Deletion',
  'Access Scope': 'User Access, Edit and Deletion'},
 {'Personal Information Type': 'Data Retention',
  'Retention Period': 'Data Retention',
  'Retention Purpose': 'Data Retention'}]

In [25]:
attr_cat_map_df = pd.DataFrame(
    [{"attr": key, "category": value} for d in cat_attr_lst for key, value in d.items() ])
ids = genIDs(attr_cat_map_df.shape[0])
attr_cat_map_df['attr_cat_map_ID'] = ids
attr_cat_map_df = attr_cat_map_df[["attr_cat_map_ID", "category", "attr"]]
attr_cat_map_df

HBox(children=(FloatProgress(value=0.0, max=35.0), HTML(value='')))

,attr_cat_map_ID,category,attr
0,0,First Party Collection/Use,Collection Mode
1,1,First Party Collection/Use,Choice Scope
2,2,First Party Collection/Use,Action First-Party
3,3,First Party Collection/Use,Personal Information Type
4,4,First Party Collection/Use,Choice Type
5,5,First Party Collection/Use,Identifiability
6,6,First Party Collection/Use,Does/Does Not
7,7,First Party Collection/Use,User Type
8,8,First Party Collection/Use,Purpose
9,9,Policy Change,Change Type
10,10,Policy Change,User Choice
11,11,Policy Change,Notification Type
12,12,Data Security,Security Measure
13,13,Do Not Track,Do Not Track policy
14,14,Third Party Sharing/Collection,Third Party Entity
15,15,Third Party Sharing/Collection,Choice Scope
16,16,Third Party Sharing/Collection,Purpose
17,17,Third Party Sharing/Collection,Personal Information Type
18,18,Third Party Sharing/Collection,Choice Type
19,19,Third Party Sharing/Collection,Identifiability
20,20,Third Party Sharing/Collection,Does/Does Not
21,21,Third Party Sharing/Collection,User Type
22,22,Third Party Sharing/Collection,Action Third Party
23,23,User Choice/Control,Choice Type
24,24,User Choice/Control,Choice Scope
25,25,User Choice/Control,User Type
26,26,User Choice/Control,Purpose
27,27,User Choice/Control,Personal Information Type
28,28,International and Specific Audiences,Audience Type
29,29,"User Access, Edit and Deletion",Access Type
30,30,"User Access, Edit and Deletion",User Type
31,31,"User Access, Edit and Deletion",Access Scope
32,32,Data Retention,Personal Information Type
33,33,Data Retention,Retention Period
34,34,Data Retention,Retention Purpose

In [26]:
attr_table_df = attr_cat_map_df[["attr"]].drop_duplicates(ignore_index=True)
attr_table_df
ids = genIDs(attr_table_df.shape[0])
attr_table_df['attr_ID'] = ids
attr_table_df = attr_table_df[["attr_ID", "attr"]]
attr_table_df

HBox(children=(FloatProgress(value=0.0, max=21.0), HTML(value='')))

    attr_ID                       attr
0         0            Collection Mode
1         1               Choice Scope
2         2         Action First-Party
3         3  Personal Information Type
4         4                Choice Type
5         5            Identifiability
6         6              Does/Does Not
7         7                  User Type
8         8                    Purpose
9         9                Change Type
10       10                User Choice
11       11          Notification Type
12       12           Security Measure
13       13        Do Not Track policy
14       14         Third Party Entity
15       15         Action Third Party
16       16              Audience Type
17       17                Access Type
18       18               Access Scope
19       19           Retention Period
20       20          Retention Purpose

In [27]:
attr_cat_map_df = attr_cat_map_df.merge(attr_table_df, how = "inner", on = "attr").merge(cat_metadata_df, how = "inner", on = "category")
attr_cat_map_df = attr_cat_map_df[["attr_cat_map_ID", "category_ID", "attr_ID"]]

In [28]:
attr_cat_map_df

    attr_cat_map_ID  category_ID  attr_ID
0                 0           11        0
1                 1           11        1
2                 2           11        2
3                 3           11        3
4                 4           11        4
5                 5           11        5
6                 6           11        6
7                 7           11        7
8                 8           11        8
9                15            5        1
10               17            5        3
11               18            5        4
12               19            5        5
13               20            5        6
14               21            5        7
15               16            5        8
16               14            5       14
17               22            5       15
18               24            3        1
19               27            3        3
20               23            3        4
21               25            3        7
22               26            3        8
23               32            0        3
24               33            0       19
25               34            0       20
26               30            1        7
27               29            1       17
28               31            1       18
29                9            2        9
30               10            2       10
31               11            2       11
32               12           10       12
33               13            7       13
34               28            6       16

# Table 7: Attribute data

In [29]:
attr_data_df = pd.DataFrame()
for fname in glob.glob(r"{}/*.csv".format(catsplit_annotations_115_parsed_dpath)):   
    df = pd.read_csv(fname)
    attr_data_df = pd.concat([attr_data_df, pd.melt(df, id_vars=['annotation_ID'], value_vars= df.columns[6:],
        var_name='attr', value_name='attr_val')], axis =0, ignore_index = True)

In [30]:
attr_data_df

        annotation_ID             attr              attr_val
0               13161  Collection Mode          not-selected
1               13162  Collection Mode          not-selected
2               13163  Collection Mode          not-selected
3               13164  Collection Mode          not-selected
4               13165  Collection Mode          not-selected
...               ...              ...                   ...
146186           2163       Other Type  Introductory/Generic
146187           3159       Other Type  Introductory/Generic
146188           2164       Other Type  Introductory/Generic
146189           3305       Other Type  Introductory/Generic
146190           2391       Other Type  Introductory/Generic

[146191 rows x 3 columns]

In [31]:
attr_data_df = attr_data_df.merge(attr_table_df, how = "inner", on = "attr")
attr_data_df

,annotation_ID,attr,attr_val,attr_ID
0,13161,Collection Mode,not-selected,0
1,13162,Collection Mode,not-selected,0
2,13163,Collection Mode,not-selected,0
3,13164,Collection Mode,not-selected,0
4,13165,Collection Mode,not-selected,0
...,...,...,...,...
143373,3558,Retention Purpose,Unspecified,20
143374,5880,Retention Purpose,Unspecified,20
143375,6374,Retention Purpose,Unspecified,20
143376,2387,Retention Purpose,Service operation and security,20
143377,3313,Retention Purpose,Perform service,20

In [32]:
ids = genIDs(attr_data_df.shape[0])
attr_data_df['attr_data_ID'] = ids
attr_data_df = attr_data_df[["attr_data_ID", "annotation_ID", "attr_ID", "attr_val"]]
attr_data_df

HBox(children=(FloatProgress(value=0.0, max=143378.0), HTML(value='')))

        attr_data_ID  annotation_ID  attr_ID                        attr_val
0                  0          13161        0                    not-selected
1                  1          13162        0                    not-selected
2                  2          13163        0                    not-selected
3                  3          13164        0                    not-selected
4                  4          13165        0                    not-selected
...              ...            ...      ...                             ...
143373        143373           3558       20                     Unspecified
143374        143374           5880       20                     Unspecified
143375        143375           6374       20                     Unspecified
143376        143376           2387       20  Service operation and security
143377        143377           3313       20                 Perform service

[143378 rows x 4 columns]

In [37]:
attr_data_df[["attr_ID", "attr_val"]].drop_duplicates(ignore_index = True).to_csv("test.csv", index = False)

In [ ]:
# Save 7 tables
op_rdb_dpath = os.path.join(processed_data_dpath, "csv_relational_data")
os.makedirs(op_rdb_dpath, exist_ok = True)
site_metadata_df_orig.to_csv(os.path.join(op_rdb_dpath, "site_metadata.csv"), index = False)
site_sector_map_df.to_csv(os.path.join(op_rdb_dpath, "site_sector_map.csv"), index = False)
cat_metadata_df.to_csv(os.path.join(op_rdb_dpath, "category_metadata.csv"), index = False)
master_df.to_csv(os.path.join(op_rdb_dpath, "annotation_data.csv"), index = False)
attr_table_df.to_csv(os.path.join(op_rdb_dpath, "attr_metadata.csv"), index = False)
attr_cat_map_df.to_csv(os.path.join(op_rdb_dpath, "attr_category_map.csv"), index = False)
attr_data_df.to_csv(os.path.join(op_rdb_dpath, "attr_values_map.csv"), index = False)